table-responsive {
max-height: 400px;
overflow-y: auto;
}
thead {
position: sticky;
top: 0;
background-color: white;
}
table-responsive::-webkit-scrollbar {
width: 1.5rem;
height: 1.5rem;
}

table-responsive::-webkit-scrollbar-track {
background-color: #f1f1f1;
}

table-responsive::-webkit-scrollbar-thumb {
background-color: #007bff;
border-radius: 2px;
}

/*form-control {
    border: 5;
    }
    */

textarea {
  width: 300px;
  height: 150px;
  text-justify: left;
}

/*td {
  text-align: middle;
}
*/

input[type="checkbox"] {
  accent-color: blue;
}
